{% extends 'base.html.twig' %}

{% block title %} Prékar {% endblock %}

{% block body %}
{% for message in app.flashes('warning') %}
    <script>
        alert("{{ message|e('js') }}");
    </script>
{% endfor %}

<div class="flex justify-center items-center h-full">
    <div class="bg-wrapper w-full flex flex-col lg:px-16 lg:py-8 gap-4 lg:w-3/4 rounded-xl">
        <form method="GET" action="{{ path('app_liste_offres') }}" class="boiteDeRecherche flex flex-col">
            <div class="flex flex-col sm:flex-row gap-4">
                <div class="flex flex-col sm:w-1/2">
                <label for="nbPlace">Nombre de places : </label>
                    <select name="nbPlace" id="nbPlace">
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4" selected>4</option>
                        <option value="5">5</option>
                        <option value="6">6</option>
                        <option value="7">7</option>
                        <option value="8">8</option>
                    </select>
                </div>

                <div class="flex flex-col sm:w-1/2">
                    <label for="typeCarburant">Type de carburant : </label>
                    <select name="typeCarburant" id="typeCarburant">
                        <option value="tous" selected>Tous</option>
                        <option value="essence">Essence</option>
                        <option value="diesel">Diesel</option>
                        <option value="electrique">Electrique</option>
                        <option value="hybride">Hybride</option>
                    </select>
                </div>
            </div>
            

            <div class="flex flex-row justify-between">
                <div class="flex flex-col lg:w-2/6">
                    <label for="dateDebut">Début</label>
                    <input type="date" name="dateDebut" id="dateDebut" value="{{ dateDeb }}" min="{{ dateDeb }}" required>
                </div>
                <div class="flex flex-col lg:w-2/6">
                    <label for="dateFin">Fin</label>
                    <input type="date" name="dateFin" id="dateFin" value="{{ dateFin }}" min="{{ dateDeb }}" required>
                </div>

                <div class="flex flex-col">
                    <label for="BoutonRecherche">&nbsp;</label>
                    <button type="submit" id="BoutonRecherche" class="relative btn-rainbow bg-accent text-white font-bold overflow-hidden transition duration-300">
                        Rechercher
                    </button>
                </div>
            </div>

            <div class="error">
                <ul>
                    {% for message in app.flashes('error') %}
                        <li>{{ message }}</li>
                    {% endfor %}
                </ul>
            </div>
        </form>

        <hr>

        <div class="souscriptionAbonnement flex flex-col gap-4">
            <h1 class="flex justify-center text-2xl" >Pensez à prendre votre abonnement !</h1>
            {% if app.user %}
                <div class="flex flex-row justify-center gap-4">
                    <a href="{{ path('app_souscription_abonnement') }}" class="btn-rainbow btn-submit rounded-full">
                        Souscrire
                    </a>
                </div>
            {% else %}
                <div class="flex flex-row justify-center gap-4">
                    <a href="{{ path('app_login') }}" class="btn-rainbow btn-submit rounded-full">
                        Connexion
                    </a>
                </div>
            {% endif %}
        </div>
    </div>
</div>

<script>
    document.addEventListener("DOMContentLoaded", function() {
        let dateDebutInput = document.getElementById('dateDebut');
        let dateFinInput = document.getElementById('dateFin');
    
        dateDebutInput.addEventListener('change', function() {
            let dateDebut = new Date(this.value);
    
            if (!isNaN(dateDebut.getTime())) {
                dateFinInput.min = this.value;
    
                if (new Date(dateFinInput.value) < dateDebut) {
                    dateFinInput.value = this.value;
                }
            }
        });
    });
</script>


{% endblock %}
