{% extends 'base.html.twig' %}

{% block title %} Prékar {% endblock %}
{% block bandeau %}
    {% include 'bandeau.html.twig' with { title: "Administrateur" } %}
{% endblock %}

{% block body %}

<div class="flex flex-row justify-around">
    <a href="{{ path('app_admin_ban') }}">
        <button type="submit" class="btn-rainbow hover:cursor-pointer text-xl">Bannir des utilisateurs</button>
    </a>
    <a href="{{ path('app_admin_commission') }}">
        <button type="submit" class="btn-rainbow hover:cursor-pointer text-xl">Changer la commission</button>
    </a>
    <a href="{{ path('app_admin_suspendre') }}">
        <button type="submit" class="btn-rainbow hover:cursor-pointer text-xl">Suspendre une offre</button>
    </a>
</div>
    <br><br>
<div class="flex flex-1 items-center flex-col">
    <div class="flex justify-center text-center w-full items-center border-b border-gray-400">
        <div class="hover:cursor-pointer flex flex-1 border-x border-gray-100 justify-center active" data-id-tab="offres">Offres</div>
        <div class="hover:cursor-pointer flex flex-1 border-x border-gray-100 justify-center" data-id-tab="locations">Locations</div>
        <div class="hover:cursor-pointer flex flex-1 border-x border-gray-100 justify-center" data-id-tab="users">Utilisateurs</div>
        <div class="hover:cursor-pointer flex flex-1 border-x border-gray-100 justify-center" data-id-tab="paiements">Paiements</div>
    </div>
    <div class="w-full">
        <div id="offres_charts" class="flex flex-row justify-between items-center">
            <div class="flex-1/4">
                <canvas id="statsChart"></canvas>
            </div>
            <div class="flex-1/4">
                <canvas id="prix_chart"></canvas>
            </div>
        </div>
        <div id="locations_charts" class="hidden">
            Rien pour l'instant
        </div>
        <div id="users_charts"  class="flex hidden flex-row justify-between items-center">
            <div class="flex-1/4">
                <canvas id="user_roles_chart"></canvas>
            </div>
            <div class="flex-1/4">
                <canvas id="user_months_chart"></canvas>
            </div>
        </div>
        <div id="paiements_charts" class="hidden">
            Rien pour l'instant
        </div>
    </div>
</div>


<div class="hidden" data-offre-status='{{ offre_status|json_encode|raw }}'></div>
<div class="hidden" data-offre-prix='{{ prix|json_encode|raw }}'></div>

<div class="hidden" data-users-roles='{{ users_roles|json_encode|raw }}'></div>
{#<div class="hidden" data-users-months='{{ users_months|json_encode|raw }}'></div>#}

{% endblock %}

{% block javascripts %}
{{ encore_entry_script_tags('app_chart_stats') }}
{% endblock %}