{% extends 'base.html.twig' %}

{% block title %} Prékar {% endblock %}
{% block bandeau %}
    {% include 'bandeau.html.twig' with { title: "Administrateur" } %}
{% endblock %}

{% block body %}

<div class="flex flex-row justify-around">
    <a href="{{ path('app_admin_ban') }}">
        <button type="submit" class="btn-rainbow hover:cursor-pointer text-xl">Bannir des utilisateurs</button>
    </a>
    <a href="{{ path('app_admin_commission') }}">
        <button type="submit" class="btn-rainbow hover:cursor-pointer text-xl">Changer la commission</button>
    </a>
</div>

<div class="w-1/4 flex items-center">
    <canvas id="statsChart"></canvas>
    <canvas id="prix_chart"></canvas>
</div>


<div class="hidden" data-offre-status='{{ stats_month|json_encode|raw }}'></div>
{#<div class="hidden" data-offre-full='{{ stats.total_offres }}'></div>#}
<div class="hidden" data-offre-prix='{{ prix|json_encode|raw }}'></div>
{% endblock %}

{% block javascripts %}
{{ encore_entry_script_tags('app_chart_stats') }}
{% endblock %}