{% extends 'base.html.twig' %}

{% block title %}Hello OffresController!{% endblock %}

{% block body %}
<div class="flex flex-col md:flex-row gap-8 px-6">
    {% for offre in offres %}
        <div class="flex md:w-1/2 flex-row bg-content p-6 rounded-2xl gap-6">
            <div class="max-h-64 ">
                {% if offre.vehicule.imageName %}
                    <img src="{{ asset('images/vehicules/' ~ offre.vehicule.imageName) }}" alt="Image de la voiture" class="w-64 aspect-square"/>
                {% else %}
                    <img src="{{ asset('images/default.jpg') }}" alt="Image de la voiture" class="w-64 aspect-square"/>
                {% endif %}
            </div>
            <div class="flex flex-col flex-1">
                <div class="flex flex-col flex-1">
                    <h1 class="font-bold text-accent-dark text-3xl">{{ offre.vehicule.titre }}</h1>
                    <div><span class="underline font-bold">Marque:</span>&nbsp;{{ offre.vehicule.marque }}</div>
                    <div><span class="underline font-bold">Modèle:</span>&nbsp;{{ offre.vehicule.modele }}</div>
                    <div><span class="underline font-bold">Nombre de place:</span>&nbsp;{{ offre.vehicule.nombrePlace }}</div>
                </div>
                <div class="flex flex-row justify-end">
                    <div class="text-7xl bg-dark px-4 py-2 text-white">{{ offre.prix }} €</div>
                </div>
            </div>
        </div>
    {% endfor %}
</div>
{% endblock %}

