{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}
{% block bandeau %}
{% include 'bandeau.html.twig' with { title: "S'inscrire" } %}
{% endblock %}
{% block body %}

{{ form_start(registrationForm) }}
<section>
    <div class="flex flex-col justify-center px-6 py-8 mx-auto w-3/4">
{#        <a href=""><img src="{{ asset('img/Placeholder.png') }}" width="32px" alt=""></a>#}
        <div class="w-full bg-content rounded-xl py-16 flex justify-center">
            <div class="p-6 flex flex-col lg:w-3/4 justify-center gap-2">
                <div class="flex flex-col lg:flex-row gap-4 flex-1">
                    <div class="flex flex-col flex-1">
                        {{ form_label(registrationForm.nom) }}
                        {{ form_widget(registrationForm.nom, { 'attr': { 'placeholder': 'Nom' } }) }}
                        <div class="error">
                            {{ form_errors(registrationForm.nom) }}
                        </div>
                    </div>
                    <div class="flex flex-col flex-1">
                        {{ form_label(registrationForm.prenom) }}
                        {{ form_widget(registrationForm.prenom, { 'attr': { 'placeholder': 'Prénom' } }) }}
                        <div class="error">
                            {{ form_errors(registrationForm.prenom) }}
                        </div>
                    </div>
                </div>
                <div class="flex gap-4 flex-1">
                    <div class="flex flex-col flex-1">
                        {{ form_label(registrationForm.email) }}
                        {{ form_widget(registrationForm.email, { 'attr': { 'placeholder': 'E-Mail' } }) }}
                        <div class="error">
                            {{ form_errors(registrationForm.email) }}
                        </div>
                    </div>
                </div>
                <div class="flex flex-col lg:flex-row gap-4 flex-1 justify-center">
                    <div class="flex flex-col flex-1">
                        {{ form_label(registrationForm.plainPassword) }}
                        {{ form_widget(registrationForm.plainPassword, { 'attr': { 'placeholder': 'Mot de passe' } }) }}
                        <div class="error">
                            {{ form_errors(registrationForm.plainPassword) }}
                        </div>
                    </div>
                    <div class="flex flex-col flex-1">
                        <label for="">Confirmation du mot de passe (pas encore implémenté)</label>
                        <input type="text">
                    </div>
                </div>
                <div class="flex flex-row gap-4 flex-1 justify-center">
                    {{ form_label(registrationForm.roles) }}
                    {{ form_errors(registrationForm.roles) }}
                    <div class="flex flex-row flex-1 justify-evenly">
                        {% for role in registrationForm.roles %}
                            <div class="checkbox-wrapper">
                                {{ form_widget(role, { 'attr': { 'class': 'checkbox-input' } }) }}
                                {{ form_label(role, null, { 'label_attr': { 'class': 'checkbox-label' } }) }}
                            </div>
                        {% endfor %}
                    </div>
                </div>
                <div class="checkbox-wrapper">
                    {{ form_widget(registrationForm.agreeTerms, { 'attr': {'class': 'checkbox-input'} }) }}
                    {{ form_label(registrationForm.agreeTerms, null, { 'label_attr': {'class': 'checkbox-label'} }) }}
                    <div class="error">
                        {{ form_errors(registrationForm.agreeTerms) }}
                    </div>
                </div>
                {{ form_widget(registrationForm._token) }}
                <div class="flex justify-center">
                    <button name="register" type="submit" class="btn-rainbow">S'inscrire</button>
                </div>
                <br>
                <div class="flex justify-center text-accent-dark font-bold">
                    Déjà un compte ?&nbsp; <a class="text-header underline hover:text-accent" href="{{ path('app_login') }}">Se connecter</a>
                </div>
            </div>
        </div>
    </div>
</section>
{{ form_end(registrationForm, {render_rest: false}) }}
{% endblock %}
