{% extends 'base.html.twig' %}

{% block title %}Hello FormulaireVehiculeController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

{{ form_start(vehiculeForm)}}
<div class="w-full bg-secondary flex flex-col p-4 gap-4">
    <div class="text-4xl font-bold text-center">
        Titre véhicule
    </div>
    <div class="flex flex-col sm:flex-row gap-4">
        <div class="flex flex-col w-1/5">
            <div class="flex">
                <img src="{{ asset('img/Placeholder.png') }}" alt="Cliquez pour choisir une image" style="cursor: pointer;">
                {{ form_widget(vehiculeForm.image, { 'attr': {'style': 'opacity: 0; position: absolute; width: 20%; height: 40%; cursor: pointer;'} }) }}

            </div>
            <div class="flex">Carousel</div>
        </div>
        <div class="flex flex-col gap-4 w-4/5 flex-wrap">
            <div class="flex sm:flex-row flex-col gap-5">
                <div class="form-group">
                    {{ form_label(vehiculeForm.marque) }}
                    {{ form_widget(vehiculeForm.marque) }}
                    {{ form_errors(vehiculeForm.marque) }}
                </div>
                <div class="form-group">
                    {{ form_label(vehiculeForm.modele) }}
                    {{ form_widget(vehiculeForm.modele) }}
                    {{ form_errors(vehiculeForm.modele) }}
                </div>
            </div>
            <div class="flex flex-row">
                <div class="form-group">
                    {{ form_label(vehiculeForm.immatriculation, "Plaque d'immatriculation") }}
                    {{ form_widget(vehiculeForm.immatriculation) }}
                    {{ form_errors(vehiculeForm.immatriculation) }}
                </div>
            </div>
            <div class="flex flex-col sm:flex-row gap-5">
                <div class="form-group form-calendar-year">
                    {{ form_label(vehiculeForm.annee, "Année de mise en circulation") }}
                    {{ form_widget(vehiculeForm.annee) }}
                    {{ form_errors(vehiculeForm.annee) }}
                </div>
                <div class="form-group">
                    {{ form_label(vehiculeForm.nombrePlace, "Nombre de place") }}
                    {{ form_widget(vehiculeForm.nombrePlace) }}
                    {{ form_errors(vehiculeForm.nombrePlace) }}
                </div>
            </div>
            <div class="flex flex-col sm:flex-row gap-5">
                <div class="form-group">
                    {{ form_label(vehiculeForm.typeCarburant, "Type de Carburant") }}
                    {{ form_widget(vehiculeForm.typeCarburant) }}
                    {{ form_errors(vehiculeForm.typeCarburant) }}
                </div>
                <div class="form-group">
                    {{ form_label(vehiculeForm.kilometrage) }}
                    {{ form_widget(vehiculeForm.kilometrage) }}
                    {{ form_errors(vehiculeForm.kilometrage) }}
                </div>
            </div>
        </div>

    </div>

    <div class="flex flex-row justify-center">
        <button
                type="submit"
                class="relative bg-accent text-white font-bold py-2 px-4 overflow-hidden transition duration-300"
        >
            Ajouter
        </button>
    </div>


</div>
{{ form_end(vehiculeForm)}}
{% endblock %}

