{% extends 'base.html.twig' %}

{% block title %}Hello FormulaireVehiculeController!{% endblock %}

{% block body %}
<div class="container bg-content mx-auto p-4 rounded-xl">
    <div class="flex flex-row font-bold bg-header p-2 border-gray-300 text-center text-green-200">
        <div class="flex-1 px-2">Marque</div>
        <div class="flex-1 px-2">Modèle</div>
        <div class="flex-1 px-2">Immatriculation</div>
        <div class="flex-1 px-2">Kilométrage</div>
        <div class="flex-1 px-2">Actions</div>
    </div>

    <div class="flex flex-col divide-y text-slate-800">
        {% for vehicule in vehicules %}
            <div class="flex flex-row items-center p-2 divide-x divide-red-500 hover:bg-row text-center">
                <div class="flex-1 px-2">{{ vehicule.marque }}</div>
                <div class="flex-1 px-2">{{ vehicule.modele }}</div>
                <div class="flex-1 px-2">{{ vehicule.immatriculation }}</div>
                <div class="flex-1 px-2">{{ vehicule.kilometrage }}km</div>
                <div class="flex-1 flex px-2">
                    <!-- En attente d'une éventuelle implémantation <a href="#" class="bg-blue-500 px-4 py-2 rounded-full hover:underline">Détails</a>-->
                    <a href="vehicules/{{ vehicule.id }}" class="bg-green-500 px-4 py-2 rounded-full hover:underline ml-2">Modifier</a>
                    <a href="#" onclick="deleteVehicule({{ vehicule.id }})" class="bg-red-500 px-4 py-2 rounded-full hover:underline ml-2">Supprimer</a>
                </div>
            </div>
        {% else %}
            <div class="flex flex-row items-center p-2 font-medium">
                <div class="flex-1 text-center">
                    Vous n'avez pas encore de véhicule en location.
                </div>
            </div>
        {% endfor %}

        <div class="flex justify-center mt-2">
            <a href="{{ path('app_formulaire_ajoutVehicule') }}" class="px-4 py-2 rounded-3xl btn-rainbow bg-accent-dark text-white font-bold">
                + Ajouter un véhicule
            </a>
        </div>
    </div>
    <script>
        function deleteVehicule(id) {
            if (confirm('Voulez-vous vraiment supprimer ce véhicule ?')) {
                window.location.href = 'vehicules/' + id + '/delete';
            }
        }
    </script>
</div>
{% endblock %}

