{% extends 'base.html.twig' %}

{% block title %}Hello FormulaireVehiculeController!{% endblock %}

{% block body %}

{{ form_start(vehiculeGerer, { 'attr' : { 'class' : 'flex justify-center my-4'}})}}
    <div class="w-full bg-content flex flex-col p-4 gap-4 lg:w-3/4 rounded-xl">
        <div class="text-4xl font-bold text-center flex-1 flex">
            {{ form_widget(vehiculeGerer.titre, { 'attr': { 'class': 'flex-1 w-full' }}) }}
            {{ form_errors(vehiculeGerer.titre) }}
        </div>
        <div class="flex flex-col sm:flex-row gap-4">
            <div class="flex flex-col w-1/5">
                <div class="flex flex-col">
                    {{ form_widget(vehiculeGerer.image,  { 'attr' : { 'class': 'hidden' }})}}
                    <label for="vehicule_form_image" class="flex flex-col gap-4 hover:cursor-pointer">
                        {% if vehicule.imageName %}
                            {% if vehicule.imageName starts with 'http' %}
                                <img src="{{ vehicule.imageName }}" alt="Image de la voiture"  id="preview"/>
                            {% else %}
                                <img src="{{ asset('images/vehicules/' ~ vehicule.imageName) }}" alt="Image de la voiture"  id="preview"/>
                            {% endif %}
                        {% else %}
                            <img src="{{ asset('img/Placeholder.png') }}" alt="Cliquez pour choisir une image" id="preview">
                        {% endif %}
                        <div class="bg-row flex-1 py-2 text-center font-bold">
                            Choisir une image
                        </div>
                    </label>
                </div>
            </div>
            <div class="flex flex-col gap-4 w-4/5 flex-wrap">
                <div class="flex sm:flex-row flex-col gap-5">
                    <div class="form-group">
                        {{ form_label(vehiculeGerer.marque) }}
                        {{ form_widget(vehiculeGerer.marque) }}
                        {{ form_errors(vehiculeGerer.marque) }}
                    </div>
                    <div class="form-group">
                        {{ form_label(vehiculeGerer.modele) }}
                        {{ form_widget(vehiculeGerer.modele) }}
                        {{ form_errors(vehiculeGerer.modele) }}
                    </div>
                </div>
                <div class="flex flex-row">
                    <div class="form-group">
                        {{ form_label(vehiculeGerer.immatriculation, "Plaque d'immatriculation") }}
                        {{ form_widget(vehiculeGerer.immatriculation) }}
                        {{ form_errors(vehiculeGerer.immatriculation) }}
                    </div>
                </div>
                <div class="flex flex-col sm:flex-row gap-5">
                    <div class="form-group form-calendar-year">
                        {{ form_label(vehiculeGerer.annee, "Année de mise en circulation") }}
                        {{ form_widget(vehiculeGerer.annee) }}
                        {{ form_errors(vehiculeGerer.annee) }}
                    </div>
                    <div class="form-group">
                        {{ form_label(vehiculeGerer.nombrePlace, "Nombre de place") }}
                        {{ form_widget(vehiculeGerer.nombrePlace) }}
                        {{ form_errors(vehiculeGerer.nombrePlace) }}
                    </div>
                </div>
                <div class="flex flex-col sm:flex-row gap-5">
                    <div class="form-group">
                        {{ form_label(vehiculeGerer.typeCarburant, "Type de Carburant") }}
                        {{ form_widget(vehiculeGerer.typeCarburant) }}
                        {{ form_errors(vehiculeGerer.typeCarburant) }}
                    </div>
                    <div class="form-group">
                        {{ form_label(vehiculeGerer.kilometrage) }}
                        {{ form_widget(vehiculeGerer.kilometrage) }}
                        {{ form_errors(vehiculeGerer.kilometrage) }}
                    </div>
                </div>
            </div>

        </div>

        <div class="flex flex-row justify-center">
            <button
                    type="submit"
                    name="modifier"
                    class="relative bg-accent text-white font-bold py-2 px-4 overflow-hidden transition duration-300"
            >
                Modifier
            </button>
        </div>


    </div>
    {{ form_end(vehiculeGerer)}}

<script>
    document.addEventListener("DOMContentLoaded", function () {
        const fileInput = document.querySelector("#vehicule_modif_form_image");
        const preview = document.querySelector("#preview");

        fileInput.addEventListener("change", function () {
            const file = this.files[0];
            if (file) {
                const reader = new FileReader();
                reader.onload = function (e) {
                    preview.src = e.target.result;
                    preview.classList.remove("hidden");
                };
                reader.readAsDataURL(file);
            } else {
                preview.src = "";
                preview.classList.add("hidden");
            }
        });
    });
</script>
{% endblock %}

